
.all{
    background-color: #245076;
}
#container {
    background-color:#ffffff;
    min-width: 970px;
    margin: 0 auto;
    
}
img {
    height: 150px;
}
.header {
    padding: 10px;
}

.blackbox {
    background: #444444;
    width: 250px;
    vertical-align: top;
    display: inline-block;
    margin-left: 1020px;    
    margin-top: -120px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
}
.button {
    vertical-align: top;
    margin-left: 10px;
    background-color: #245076;
    border: 2px outset silver;
    color: #ffffff;
    border-radius: 3px;
    height: 30px;
    width: 40px;
    text-align: center;
    padding-top: 0;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.serching {
    margin-left: 30px;
    width: 140px;
    height: 30px;
    border: silver inset 2px;
    text-align: center;
    color: silver;
}
.option {
    display: inline-block;
    vertical-align: top;
    margin-left: 570px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    color: #ffffff;
}
.normal{
    color: #8a882a;
    text-decoration: underline;
}
.some{
    color: black;
}
#subtitle{
    background: #407aad;
    display: inline-block;
    margin-left: 170px;
    width: 1000px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px black;
}
h2{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #e8eff5;
}
#firstlist{
    display: inline-block;
    
    
}
#firstlist ul {
    display: inline-block;
    list-style: none;
    text-align: center; 
     line-height: 30px;
    margin-left: 200px;
    font-size: 18px;
        
}
#firstlist li::before{
    content: "\00bb";
    color: #ffd343;
    margin: 10px;
    text-decoration: none;  
     
}
#firstlist ul li a {
    color: #e8eff5;
    text-decoration-color: #e8eff5;
    
}
 
.content p {
    
    vertical-align: top;
    margin-left: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    color: #e8eff5;

}
h3 {
    
    text-align: center;
    vertical-align: top;  
    font-family: Arial, Helvetica, sans-serif; 
    color: #8a882a;
    margin: 20px;    
}
.content {
    display: inline-block;
    vertical-align: top;
    width: 600px;
    margin-top: 10px;
}
h4{
    text-align: center;
    vertical-align: top;  
    font-family: Arial, Helvetica, sans-serif; 
    color: #e8eff5;
    margin: 20px; 

}
.line{
    display: inline-block;
    border: 2px solid #73a7d5;
    width: 500px;
    margin-left: 110px;
    margin-top: 20px;
}
.other {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #73a7d5;
    width: 500px;
    margin-top: 20px;
    margin-left: 80px;
}
.moreinfo{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-top: 10px;
    margin-left: 225px;
}
.title {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
.moreinfo p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5px;
}
li {
    text-align: center;
    margin-top: 3px;
}
.moreinfo li span {
    color: #80afd9;
}
footer {
    background: #407aad;
    display: inline-block;
    text-align: center;
    width: 1340px;
    
     
}
.end h3{
    display: inline-block;
    margin-left: 10px;
   margin-top: 50px;
    vertical-align: top;
    color: #75a8d6;
}
p{
    color: #75a8d6;
    font-size: 10px;
}
